# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ubuntu-latest, windows-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Get H2O Source File
        run: git clone --recurse-submodules https://github.com/h2o/h2o.git

      # Runs a set of commands using the runners shell
      - name: Build H2O
        run: |
          cd h2o
          mkdir -p build
          cd build
          cmake ..
          make
      - name: Upload
        uses: actions/upload-artifact@v2.2.4
        with:
          path: ./h2o
      
